.modal {
	position: fixed;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	display: none;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;

	z-index: 100;
}

.modal__content {
	background-color: var(--white);
}

.open-modal-input:checked ~ .modal {
	display: flex;
}

.open-modal-input:checked(:not) ~ .modal {
	display: none;
}

.open-modal-label {
	display: inline-block;
	padding: 1.2rem 1.2rem;
	border: none;
	background: transparent;
	color: var(--grey-3);

	transition: .5s;
	cursor: pointer;
}

.open-modal-label:hover {
	color: var(--grey-4);
}

.open-modal-input:checked + .open-modal-label::after {
	position: fixed;
	top: 1.6rem;
	right: 1.6rem;

	content: "✖";
	font-size: 2.2rem;
	color: var(--white);
	
	cursor: pointer;
	z-index: 101;
}

.open-modal-input + .open-modal-label::before {
	display: none;
}

.open-modal-input:checked + .open-modal-label::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	background: rgba(0, 0, 0, .75);

	z-index: 99;
}

.open-modal {
	position: fixed;
	top: 1.6rem;
	right: 1.6rem;

	z-index: 10;
}